@{
    ViewBag.Title = "Contact";

    
}
<h2>@ViewBag.Title Us</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h3>Physical Address:</h3>
    <h4>Southern African Computer Lecturer’s Association (SACLA)</h4>
    <h4>School of Computer Science and Information Systems</h4>
    <h4>North-West University</h4>
    <h4>11 Hoffman Street</h4>
    <h4>Potchefstroom</h4>
    <h4>2531</h4>
</div>

<div>
    <h3>Postal Address:</h3>
    <h4>Southern African Computer Lecturer’s Association (SACLA)</h4>
    <h4>School of Computer Science and Information Systems</h4>
    <h4>Private Bag X6001</h4>
    <h4>Potchefstroom</h4>
    <h4>2520</h4>
</div>
