@{
    ViewBag.Title = "Home Page";
}

<style>
    .btn-butt {
        background-color: #333a3f;
        color: white;
    }
</style>

<div class="jumbotron">
    <h1>SACLA Conference Paper Management System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to SACLA</h2>
        <p>
            This is a sample application that was created as part of the CSIS3734/CSIQ3734 module. All rights reserved.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Visit our News Page to find out what is happeing.</p>
        <p><a class="btn btn-butt" href="~/Views/Home/News.cshtml">See latest news></a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Give us a call or drop us an email to find out more about upcoming conferences and workshops.</p>
        <p><a class="btn btn-butt" href="~/Views/Home/Contact.cshtml">See contact details></a></p>
    </div>
</div>